@charset "utf-8";
/*基本設定*/
html{font-size:62.5%;}
* {
	margin:0;
    padding:0;
}
body {
	background:#FFF url(../img/bg.gif) no-repeat left top;
	font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    font-size: 1.6rem;
    color: #535353;
    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
    overflow: hidden;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
html {
	overflow-y:scroll;
}
p,li,dt,dl {
	line-height:1.6;
}
p {
    margin:0 0 0 0;
}
li {
	list-style-type:none;
}
img {
    border:0;
    width:100%
}
a {
    text-decoration: none;
    color: #535353;
    }
address {
	font-style:normal;
}
.clear {
	clear:both;
}

.wrapper{
    max-width:100%;
    margin:0px auto;
}

.Ttl__h2{
    font-size: 2.5rem;
    margin:30px 0px;

}
.Ttl__h2-white{
    font-size: 2.5rem;
    margin:30px 0px;

}

/*header*/
header{
    background: #ffffff;
    width:100%;

}

.header__contents{
    width:1200px;
    margin: 0px auto;
}
.header__contents::after{
    content:"";
    display:block;
    clear:both;
    }
.header__left{
    width: 11%;
    min-width:200px;
    float: left;
    padding: 20px 0px 0px 20px;
}
.header__right{
    width:60%;
    float: right;
}
.float_left{
    float:left;
}
.float_right{
    float:right;
}
.header__caption{
    text-align: right;
    margin:20px 0px;
    font-size: 1.4rem;
}

/*nav*/
.header__nav{
    width: 100%;
    position: relative;
}
#nav-drawer_sp{
    display:none;
}
.navList{
    width: 100%;
    display: inline-block;
}
.navList__item{
    display:inline-block;
    width:16%;
    text-align: center;
}
.header__contactBtn{
    display:inline-block;
    width:100%;
    background-color: #FFC653;
    padding: 5px;
    text-align: center;
    border-radius:5px;
    margin-right: 5px;
    color:#fff;
    font-weight:bold;
    letter-spacing:2px
}
.contact__icon{
    width: 15%;
    vertical-align: middle;
    margin-right: 5px;
}

.header__twitterBtn{
    width: 3%;
    display: inline-block;
    margin-right: 5px;
    position: absolute;
    right: 60px;
    top:5px
}
.header__instagaramBtn{
    width: 3%;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 5px;
}
.navList__link{

    position: relative;
}
.navList__link:hover{
    border-bottom:2px dashed #718F29;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.2s ease;
}

/*mainVisual*/
.mainVisual{
    clear:both;
}
.header__slider{
    width:auto;
    overflow: hidden; 
}
.slider__item{
    position:relative;
    height:700px;
}

.boxshadow__topBtm{
    box-shadow: 0 5px 5px -3px rgba(100,100,100,0.1) inset, 0 -5px 5px -3px rgba(100,100,100,0.1) inset;
}

.slider__bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index:-1;
    object-fit: cover;
    height:125%;
    background-attachment: fixed;
}
.slider__left{
    width:40%;
    display:flex;
    justify-content: center;
    height:101%;
    flex-direction: column;
    padding-left: 30px;
    background-color: rgba(255,255,255,1);
    position: relative;

}

element.style {
    width: 1549px;
}
.slick-initialized .slick-slide {
    display: block;
}


.header__slider .slick-slide{
    box-shadow: 0 5px 5px -3px rgba(100,100,100,0.1) inset, 0 -5px 5px -3px rgba(100,100,100,0.1) inset;

}
.sliderLeft__contents{
    position: absolute;
    right: 30px;
}
.slider__imgLeft{
    width: 50%;
    height:auto;
    padding-bottom: 20px;
    border-bottom: 2px dashed #4c4c4b;
    clear: both; 

}
 .header__slider .slick-active{
    animation: ImgAnime 10s linear infinite 0s;

}

@keyframes ImgAnime { 
    0% {
        opacity: 1;
        animation-timing-function: ease-in;
    }
    100% {
        opacity: 1;
        transform: scale(1.1);
        animation-timing-function: ease-out;}
}

.slider__pLeft{
    margin-top: 20px;
}
.slider__right{
    vertical-align:middle;
    width:50%;
    width:50%;
    height:100%;
    display:flex;
    align-items: center;
    margin-right: 20px;
    position: relative;
}
.slider__imgRight{
    width: 80%;
    max-width:600px;
}
.absolute_right{
    position:absolute;
    right:0px;
}
.logo_sizemini{
    width:20%;
}

/*Work*/
#work{
    text-align: center;
    position: relative;
    padding:30px 0px;
}

.works__p{
    margin-bottom: 30px;
}

/*scroll__img*/
.scroll__imgBox{
    text-align:left;
    margin:0px auto;
    width: 100%;
    animation: img_box_9955 1s ease-in-out infinite alternate;
}
   
  @keyframes img_box_9955 {
    0% { transform:translateY(-10px); }
    100% { transform:translateY(  0px); }
  }
.scroll__img{
    width:25px;   
    position: absolute;
    text-align: left;
    top:-130px;
    left:20%;
    z-index:5;
}
.tab_label{
    width: 150px;
    padding: 10px 0px;
    border-radius: 5px;
    display: inline-block;
    margin: 0px 20px;
    font-weight: bold;
}
input[name="tab_btn"] {
    display:none;
  }
  
#tab1:checked ~ #panel1,
#tab2:checked ~ #panel2,
#tab3:checked ~ #panel3 {
  display: block;
}
.tab_panel{
    display:none;
}

.pink{
    border: 2px solid #F672A7;
    color:#F672A7;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}
.pink:hover{
    background: #F672A7;
    color:#fff;
}

.tabWrap input:checked + .pink {
    background: #F672A7;
    color: #fff;
  }

.blue{
    border: 2px solid #7CBFFA;
    color:#7CBFFA;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}
.blue:hover{
    background: #7CBFFA;
    color:#fff;
}
.tabWrap input:checked + .blue {
    background: #7CBFFA;
    color: #fff;
    
  }
.orange{
    border: 2px solid #FABC60;
    color:#FABC60;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}
.orange:hover{
    background: #FABC60;
    color:#fff;
}
.tabWrap input:checked + .orange {
    background: #FABC60;
    color: #fff;
  }


.workSlide__flexBox{
    display:flex;
    width: 1200px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px auto;
}
.work__item{
    width:300px;
    height:350px;
    border: 1px solid #97CE91;
    position:relative;
}

.work__item-hover{
    display:none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    color: #fff;

}


.hover__box{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
    text-align:center;
    width:90%;
}

.hover_item{
    text-align:left;
}

.more__btn{
    padding:10px 0px;
    width:90%;
    border:2px solid #fff;
    margin:0px auto;
    margin-top: 20px;
    border-radius:5px;

}

.hover_title{
    text-align:center;
    font-weight:bold;
    margin-bottom:10px;
}

.work__item:hover > .work__item-hover{
    display:block;
    animation: show 0.4s ease 0s;
}



@keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.close {
    position:absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom:100px;
    background: rgb(43, 43, 43);
    color:#fff;
    padding:10px;
    width:30%;
    border-radius:5px;
    
}

.item__modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 80%;
    background-color: #fff;
    display: none;
    z-index:500;
    border-radius:5px;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 5;
    display:none;
}

.workSlider__sliderBox{
    margin: 20px 0px;
    padding:50px 0px;  
}


.slick-prev:before,
.slick-next:before {
    color: #718F29;

}

.slick-next{
    right: 10px;

}
.slick-prev{
    left: 20px;
    z-index: 5;
}

.slick-dots li button:before{
    font-size:15px;
}

#service{
    text-align: center;
    padding: 30px 0px 60px 0px;
    background: #97CE91;
    color:#fff;
}

.serviceRight{
    width:40%;

}
.serviceLeft{
    width: 40%;
    border-left:1px dashed #fff;
    padding-left:6.5%;
}

.service__inner-img{
    width:20%;
    display:inline-block;
    margin-right: 7%;
    
}
.service__inner-h4{
    display:inline-block;
    width:50%;
    vertical-align:top;
}

.Ttl__h3{
    width:100%;
    margin:0px auto 30px auto;
    padding:5px 0px;
    border:2px solid #fff;
    border-radius:5px;
}

.service__Contents{
    display: flex;
    width:1200px;
    justify-content: space-around;
    margin: 40px auto 0px auto;
}

.service__h4{
    text-align: left;
    font-weight:bold;
    
}
.service__p{
    text-align: left;
    margin-top: 20px;;
}
#flow{
    text-align: center;
    background: #F3F3F3;
    padding: 50px 0px 80px 0px;
}
.flow__Tablebox{
    margin: 0px auto;
    display: inline-block;
}
.flow__flowbox{
    width:1200px;
    margin: 0px auto;
}

.flowList__item{
    padding:10px 0px;
    width:80%;
    border-radius:5px;
    background: #97CE91;
    margin:50px auto;
    position: relative;
}
.bar_red{
    background: #F29797;
}
.bar_bule{
    background: #8FA7EB;
}
.flow_arrow{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 17.5px 0 17.5px;
    border-color: #f6d2d2 transparent transparent transparent;
position: absolute;
left: 0;
right: 0;
margin: auto;
top: 70px;
}
.flowArrow_green{
    border-color: #C9E9C6 transparent transparent transparent;
}
.flow__number{
    text-align:right;
    color:#fff;
    position:absolute;
    left:20px;
    font-weight: bold;
    font-size: 2.5rem;
}
.flow__caption{
    color:#fff;
    font-weight:bold;
    font-size: 2.0rem;
    letter-spacing: 3px;
}

.fontGreen{
    color:#97CE91;
    width: 50%;
    border:2px solid #97CE91;

}
.flow__Tablebox{
    width:80%;
}
.flow__Table{
    width:80%;
    margin: 0px auto;
    border-spacing: 5px;
}
.flow__th-blue{
    padding:10px 0px;
    background: #8FA7EB;
    border-radius:5px;
    color:#fff;
}
.flow__th-green{
    padding:10px 0px;
    background: #97CE91;
    border-radius:5px;
    color:#fff;
}
.flow__td{
    padding:10px 0px;
    background: #fff;
    border-radius:5px;
    font-weight: bold;
    font-size:1.8rem;
}
#profile{
    text-align:center;
    background-image: url(../img/profilebg@2x.png);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    padding: 50px 0px;

}
.profile__Contents{
    background: rgba(255,255,255,0.8);
    padding: 30px 0px 50px 0px;

}
.profile__box{
    display:flex;
    width:1200px;
    margin:0px auto;
}

.profile__box-left{
    width:40% ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile__box-right{
    width: 60%;
    text-align:left;
}
.profile__img{
    width: 30%;
}

.profile__dt,.profile__dd{
    display: inline-block;
    width: 80%;
    vertical-align:top;
    text-align: left;

}
.profile__dt{
    width: 80px;
    font-weight:bold;
}
.profile__dl{
    padding:20px 0px;
    border-bottom:1px dashed #97CE91;
}

#contact{
    text-align:center;
    padding:30px 0px 60px 0px;
}
.contact__Contents{
    width:1200px;
    margin: 0px auto;
}
.col-xs-offset-4{
    margin: 0px auto;
}
.form-group{
    margin:20px auto;
    text-align: left;
    width:60%
}
.form-control{
    width:100%;
    padding:10px 0px;

}
.contact__btn{
    width:60%;
    padding:10px 0px;
    background: #FABC60;
    margin: 0px auto;
    border-radius:5px;
}
.contact__submit{
    box-shadow:none;
    border:none;
    border-radius:5px;
    color:#fff;
    font-weight:bold;
    letter-spacing:10px;
    font-size:1.6rem;
    position: relative;
    background: transparent;

}

.contact__submit::before{
	position:absolute;
    left:-40px;
    top:0px;
	content:"";
	display:inline-block;
    width:1.5em;
	height:1.5em;
	background:url(../img/contact_aicon@2x.png) no-repeat;
	background-size:contain;
    
}

.contact_p{
    margin-bottom:20px;
}
footer{
    text-align:center;
    background: #97CE91;
    padding:30px 0px;
}


.color__white{
    color:#fff;
}

.footer__Contents{
    width:1200px;
    margin:0px auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.footer__Contents-left{
    width:20%;
}
.footer__Contents-right{
    width:70%;
}

.footer__nav{
    position:relative;
}

.footer__p{
    color:#fff;
    text-align:right;
}
.bg__white{
    padding:5px;
    background: #fff;
    border-radius:5px;
}

.flow__table-sp{
    display:none;
}


.fadein {
  opacity : 0;
  transform: translateY(20px);
  transition: all 1s;
}

.sp{
    display:none;
}
#page_top{
    width: 100px;
    height: 60px;
    position: fixed;
    right: 0;
    bottom: 0;
    background: #ef3f98;
    opacity: 0.6;
    border-radius: 15px;
  }
  #page_top a{
    position: relative;
    display: block;
    width: 100px;
    height: 60px;
    text-decoration: none;
  }
  #page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -25px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }
  #page_top a::after{
    content: 'PAGE TOP';
    font-size: 13px;
    color: #fff;
    position: absolute;
    top: 30px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }

@media screen and (max-width: 1200px) {
    .header__left{
        width: 20%;
    }
    .header__contents{
        width:100%;
    }
    .workSlide__flexBox{
        width: 100%;
    }
    .work__item{
        width:30%;
        overflow:hidden;
    }
    .workslide_img {
        min-width:300px;
        min-height:350px;
    }

    .sliderLeft__contents {
        right: 10px;
    }
    
    .service__Contents{
        width:100%;
    }
    
    .flow__flowbox{
        width:100%;
    }
    .profile__box{
        width:100%;
    }
    .contact__Contents{
        width:100%;
    }
    .footer__Contents {
        width: 100%;
    }

 }
@media screen and (max-width: 896px) {
    .header__caption{
        display:none;
    }

    .header__nav{
        display:none;
    }
    .header__right{

        width: 15%;
        float: right;
        margin-top: 40px;

    }

    .navList__item{
        display:block;
        width:100%;
        margin:20px auto;
    }

    .header__twitterBtn {
        width: 10%;
        display: inline-block;
        margin-right: 5px;
        position: static;
        right: 60px;
        top: 5px;
    }

    .sp_aicon-center{
        text-align:center;
    }

    .header__contactBtn{
        width:80%;
    }

    .header__instagaramBtn {
        width: 10%;
        display: inline-block;
        position: static;
        right: 20px;
        top: 5px;
    }

    #nav-drawer_sp{
        display:block;
        position: relative;
    }

    /*チェックボックス等は非表示に*/
.nav-unshown {
    display:block;
  }
  
  /*アイコンのスペース*/
  #nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
  }
  
  /*ハンバーガーアイコンをCSSだけで表現*/
  #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px;/*線の太さ*/
    width: 25px;/*長さ*/
    border-radius: 3px;
    background: #555;
    display: block;
    content: '';
    cursor: pointer;
  }
  #nav-open span:before {
    bottom: -8px;
  }
  #nav-open span:after {
    bottom: -16px;
  }
  
  /*閉じる用の薄黒カバー*/
  #nav-close {
    display: none;/*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;/*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
  }
  
  /*中身*/
  .nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;/*最前面に*/
    width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
    max-width: 330px;/*最大幅（調整してください）*/
    height: 100%;
    background: #fff;/*背景色*/
    transition: .3s ease-in-out;/*滑らかに表示*/
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);/*左に隠しておく*/
  }

.header_logo-red{
    background: red;
}
.active{
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  

    .float_left{
        float:none;
    }
    .float_right{
        float:none;
    }


    .workSlide__flexBox{
        justify-content:space-between;
        width:90%;

    }
    .work__item{
        width: 48%;
        margin:20px 0px;
    }
    .tab_label{
        width: 25%;
        margin: 5px 0px;
    }
    .item__modal {
        width: 80%;
    }

    .slider__left{
        width:100%;
        display: flex;
        justify-content: center;
        height: 40%;
        flex-direction: column;
        padding-left: 0px;
        background-color: rgba(255,255,255,1);
        position: relative;
    }
    .sliderLeft__contents{
        left: 0;
        right: 0;
        margin: auto;
        width:80%;
      
    }
    .slider__imgLeft{
        margin:0px auto;
        width: 20%;
        margin-bottom:20px;
    }
    .slider__pLeft{
        margin: 0px auto;
        width:70%;
        text-align: center;
    }

    .slider__right{
        width:60%;
        margin:0px auto;
        height:auto;
        max-width:500px;
        min-width:300px;
    }

    .absolute_right {
        position: absolute;
        right: 0px;
        top: 320px;
    }
    .slider__imgRight{
        width: 80%;
        margin: 20px auto;
    }

    .service__Contents {
        flex-direction: column;

    }
    .serviceRight{
        width: 90%;
        margin:0px auto;
    }
    .serviceLeft{
        width:90%;
        margin:30px auto;
        border-left: none;
    padding-left: 0px;
    }
    .profile__box{
        flex-direction: column;

    }
    .profile__box-left{
        margin:0px auto;
    }
    .profile__box-right{
        margin:0px auto;
        width:80%
    }
    .flow__caption{
        font-size:1.6rem;
    }

    .footer__Contents-left{
        width:30%;
        margin: 0px auto;
        display:block;
    }

    .footer__Contents-right{
        margin: 0px auto;
        display:block;
    }

    .footer__p{
        text-align:center;
    }
    .footer__Contents{
        flex-direction: column;
    }

    .footer__nav .header__contactBtn{
        width:50%;
    }

    .footer__nav .header__twitterBtn{
        width:5%;
    }
    .footer__nav .header__instagaramBtn{
        width:5%;
    }


 }
@media screen and (max-width: 480px) {
    .work__item{
        width:100%;
    }
    .tab_label{
        width:80%;
    }

    .service__inner-h4{
        width:100%;
    }
    .service__inner-img{
        width:50%;
    }
    .arrow_sp1{
        top:110px
    }
    .arrow_sp2{
        top:90px
    }
    .flow__number{
        top: 5px;
    }

    .fontGreen{
        width:90%;
    }

    .profile__img{
        width:60%;
    }

    .footer__Contents-left{
        width:80%;
        margin: 0px auto;
    }

    .footer__Contents-right{
        margin: 0px auto;
    }

    .footer__p{
        text-align:center;
    }

    .sp{display:block;}

    .flow__Table{
        display:none;
    }
    .flow__table-sp{
        display:block
    }

    .flow__table-sp .flow__Table{
        display:block; 
        width:90%;
        table-layout: fixed;
        display: table;
        margin: 30px auto;
    }

    .flow__table-sp th,td{
        display:block;
        width:100%;
        margin: 5px 0px;

    }
    .flow__table-sp tr{
        margin: 10px 0px;
    }

    .flow__table-sp tbody{
        width:100%;
    }

 }